.tarjeta {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.styled-input {
  width: 300px;
  padding: 10px 15px;
  border: none;
  border-bottom: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: border-bottom-color 0.3s ease;
  margin-right: 15px;
}