.tarjeta {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px 10px 10px 10px;
}

.tarjeta-done {
  background-color: #c4c1c1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  text-decoration: line-through;
}

.tarjeta:hover{
  cursor: pointer;
}

.tarjeta-done:hover{
  cursor: pointer;
}
.styled-input {
  width: 300px;
  padding: 10px 15px;
  border: none;
  border-bottom: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: border-bottom-color 0.3s ease;
  margin-right: 15px;
}

.todo-list {
  max-height: 300px; /* Altura máxima del contenedor con scroll */
  overflow-y: auto; /* Habilitar el scroll vertical cuando el contenido desborde */

}